Esta es una busqueda por niño especifico:
Coloque el codigo del niño para continuar


<div class="post">
<div class="entry">
<input id="codigoN" type="text" size="25" value="">
<button id="BotonCodigo">
	Buscar Nino
</button>
</div>
</div>
