<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Centros</a></h2>
				<div class="entry">
<h1>Inscribir Centro</h1>


<FORM ACTION="/centro" METHOD="POST">

<label for="nombre">Nombre del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>

<label for="sec">Sector del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="sec" class=":required"><br/>

<label for="admon">Codigo Administrador del Centro:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="admon" class=":required"><br/>

<INPUT TYPE="submit" value="Inscribir Centro">
</FORM>

				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/centronew">Ingresar un Centro</a></li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
