<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Educadores</a></h2>
				<div class="entry">
					<h1>Inscribir Educador</h1>

<FORM ACTION="/educador" METHOD="POST">

<div id="educForm">
<label for="code">Codigo del Educador:</label><br/>
<INPUT id = "code" TYPE="text" NAME="codigo" class=":required :integer"><br/>

<label for="nombre">Nombres del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>

<label for="apellidos">Apellidos del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="apellidos" class=":required"><br/>

<label for="numero">Numero Telefono:</label><br/>
<INPUT id = "telefono" TYPE="text" NAME="telefono[]" class=":required"><br/>

</div>

<INPUT TYPE="submit" value="Inscribir Educador">
</FORM>
<button id="numerotlf">
Agregar otro numero:
</button>


					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
		<div id="educador">
		<h3>Educador</h3>
		<%unless @educador.nil?%>
			<ul>
			<%@educador.each do |e| %>
				<li><%="#{e.codigo} #{e.nombre} #{e.apellido}"%> </li>
			<%end%>
			</ul>
		<%end%>
		</div>	

		</div>
	<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
