<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Educadores</a></h2>
				<div class="entry">
					<h1>Inscribir Educador</h1>

<FORM ACTION="/educador" METHOD="POST">
<label for="code">Codigo del Educador:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required :integer"><br/>

<label for="nombre">Nombres del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>

<label for="apellidos">Apellidos del Educador:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="apellidos" class=":required"><br/>

<INPUT TYPE="submit" value="Inscribir Educador">
</FORM>

					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/educaform">Ingresar un Educador</a></li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
