<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Login</a></h2>
				<div class="entry">

<FORM ACTION="/educador" METHOD="POST">
<label for="code">Ingrese su nombre de usuario:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required"><br/>

<label for="nombre">Contraseña:</label><br/>
<INPUT id = "nombre" TYPE="password" NAME="nombre" class=":required"><br/>

<INPUT TYPE="submit" value="Login">
</FORM>

					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
	
