<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Niños</a></h2>
				<div class="entry">
					<h1>Ingreso del Nino a Asociacion Compartir</h1>



<FORM ACTION="/nino" METHOD="POST">
<label for="code">Foto del Niño:</label><br/>
<INPUT id = "fotilo" TYPE="text" NAME="code"><br/>
<INPUT TYPE="submit" value="Examinar"><br/>

<label for="code">Codigo del Niño:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required :integer"><br/>
 
<label for="nombre">Nombres del Niño:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>
 
<label for="apellido">Apellidos del Niño:</label><br/>
<INPUT id = "apellido" TYPE="text" NAME="apellido" class=":required"><br/>
 
<label for="padrinazgo">Estado Padrinazgo:</label><br/>
<INPUT id = "padrinazgo" TYPE="text" NAME="padrinazgo" class=":required"><br/> 

<label for="fecha">Fecha Nacimiento:</label><br/>
<INPUT id = "fecha" TYPE="text" NAME="fecha" class=":required :date"><br/>

<label for="sexo">Sexo:</label><br/>
<SELECT NAME="sexo" class=":required"> 
   <OPTION VALUE="M">M</OPTION> 
   <OPTION VALUE="F">F</OPTION> 
</SELECT> 
<br/>

<label for="habita">Personas con las que Habita:</label><br/>
<textarea name="habita" rows="5" cols="25" class=":required"></textarea><br/>

<label for="centro">Nombre del Centro:</label><br/>
<INPUT id = "centro" TYPE="text" NAME="centro" class=":required"><br/>

<label for="sector">Sector:</label><br/>
<INPUT id = "sector" TYPE="text" NAME="sector" class=":required"><br/>

<label for="codigo">Codigo del Educador Asignado:</label><br/>
<INPUT id = "codigo" TYPE="text" NAME="codigo" class=":required :integer"><br/>


<INPUT TYPE="submit" value="Inscribir Niño">
</FORM> 

				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/ninoform">Ingresar un Niño</a></li>
						<li><a href="/acaform">Situacion Academica</a></li>
						<li><a href="/famform">Ingresar Familiar</a></li>
						<li><a href="/vivi">Expediente Vivienda</a></li>
						<li><a href="/juri">Expediente Juridico</a></li>
						<li><a href="/salu">Expediente Salud</a></li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

