<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
			<h2 class="title"><a href="#">Gestion de Padrinos</a></h2>
				<h1>Inscribir Padrino</h1>


<FORM ACTION="/padrino" METHOD="POST">
<label for="code">Codigo del Padrino:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required :integer"><br/>
 
<label for="nombre">Nombres del Padrino:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nombre" class=":required"><br/>

<label for="nac">Nacionalidad del Padrino:</label><br/>
<INPUT id = "nombre" TYPE="text" NAME="nac" class=":required"><br/>

<INPUT TYPE="submit" value="Inscribir Padrino">
</FORM> 
				
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/nuevopadrino">Ingresar un Padrino</a></li>
						
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
