<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Padrinos</a></h2>
				<div class="entry">
					<p>Seleccione en el menu lateral la operacion que desea realizar.</p>

<table>
<tr> <th>Codigo</th><th>Titulo</th><th> Nombre</th><th>Nacionalidad</th>
</tr>
<%@padrinos.each do |padrino|%>
		<tr><td><%=padrino.codigo%></td><td><%=padrino.titulo%></td><td><%=padrino.nombre%></td><td><%=padrino.nacionalidad%></td>
		</tr>
<%end%>
</table>

					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/nuevopadrino">Ingresar un Padrino</a></li>
						
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
