<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Niños</a></h2>
				<div class="entry">
					<h1>Expediente Viviendas</h1>



<FORM ACTION="/nino" METHOD="POST">
<label for="code">Codigo Expediente:</label><br/>
<INPUT id = "code" TYPE="text" NAME="code" class=":required :integer"><br/>
 
<label for="cuartos">Cantidad de Cuartos:</label><br/>
<INPUT id = "cuartos" TYPE="text" NAME="cuartos" class=":required :integer"><br/>
 
<label for="material">Material:</label><br/>
<INPUT id = "material" TYPE="text" NAME="material" class=":required"><br/>
 
<label for="antiguedad">Antiguedad:</label><br/>
<INPUT id = "antiguedad" TYPE="text" NAME="antiguedad" class=":required"><br/> 

<label for="propetario">Propietario:</label><br/>
<INPUT id = "propetario" TYPE="text" NAME="propetario" class=":required"><br/>

<label for="luz">Luz:</label><br/>
<SELECT NAME="luz" class=":required"> 
   <OPTION VALUE="1">Si</OPTION> 
   <OPTION VALUE="0">No</OPTION> 
</SELECT> 
<br/>

<label for="agua">Agua:</label><br/>
<SELECT NAME="agua" class=":required"> 
   <OPTION VALUE="1">Si</OPTION> 
   <OPTION VALUE="0">No</OPTION> 
</SELECT> 
<br/>

<INPUT TYPE="submit" value="Generate Vivienda">
</FORM> 

				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/ninoform">Ingresar un Niño</a></li>
						<li><a href="/acaform">Situacion Academica</a></li>
						<li><a href="/famform">Ingresar Familiar</a></li>
						<li><a href="/vivi">Expediente Vivienda</a></li>
						<li><a href="/juri">Expediente Juridico</a></li>
						<li><a href="/salu">Expediente Salud</a></li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

