<ul>
	<li><%= link_to "Listados de ni単os", {:controller => "listados", :action => "index"},{:title =>"Listados de ni単os" } %></li>

	<li><%= link_to "Listados de educadores y centros", {:controller => "listados", :action => "educador"},{:title =>"Listados de ni単os" } %></li>

	<li><%= link_to "Listados de padrinos", {:controller => "listados", :action => "padrino"},{:title =>"Listados de ni単os" } %></li>
</ul>
	
