<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Bienvenido</a></h2>
				<div class="entry">
					<p>Este es el Sistema de Base de Datos de la Asociaci贸n Compartir. Para acceder al sistema es necesario que se identifique mediante la autentificaci贸n de usuarios. Para ello ingrese al item "Login" en la barra de navegaci贸n situada en la parte superior de la pantalla.</p>
					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Soporte Tecnico</h2>
					<p>Si desea soporte tecnico, de clic en el item "Contactenos" para mayor informacion. Localizado en la barra de navegaci贸n de la parte superior.</p>
				</li>
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

