<table>
<tr> <th>Codigo</th><th>Titulo</th><th> Nombre</th><th>Nacionalidad</th>
</tr>
<%@padrinos.each do |padrino|%>
		<tr><td><%=padrino.codigo%></td><td><%=padrino.titulo%></td><td><%=padrino.nombre%></td><td><%=padrino.nacionalidad%></td>
		</tr>
<%end%>
</table>
