html{
	font-family: Arial , Sans-serif;
	font-size:1em;
}

#educador
{
	display: inline;	
	float: left;
	margin: 10px;
}

#padrinazgo
{
	display: inline;
	float: left;
	margin: 10px;
	width: 12.5em;
}

#sexo,#centro,#edad {
	display: inline;
	width: 7em;
	margin: 10px;
	float: left;
}

.entry
{
	width: 2em;	
}



