html{
	font-family: Arial , Sans-serif;
	font-size:1em;
	background-color:#FAFAFA;
}

#educador
{
	display: inline;	
	float: left;
	margin: 10px;
}

#padrinazgo
{
	display: inline;
	float: left;
	margin: 10px;
	width: 12.5em;
}

#sexo,#centro,#edad {
	display: inline;
	width: 15em;
	margin: 10px;
	float: left;
}

.entry2
{
	width: 2em;	
}

table
{
 padding="0"; 
 border="0";	
}
th{
	color:#fff;
	background-color:#000;
}
tr{
	background-color:#C9C9C9;
}
tr:hover
{
	background-color:#A8A8A8;
}

#cabecera{
	position:absolute;
	left:500px;
}

#ninoCodigo
{
	position:absolute;
	left: 350px;
	top: 80px;

}


#ninoEdad
{
	position:absolute;
	left: 570px;
	top: 80px;
}

#ninoSexo{ position:absolute; left:570px; top: 110px;}
#ninoNombre{ position:absolute; left: 350px;top: 110px;}
#ninoEducador{ position:absolute; left: 700px; top: 80px;}
#ninoSector{ position:absolute; left: 700px; top: 110px;	} 
#ninoBarrio{ position:absolute; left: 700px; top: 140px; }
#descripcion{position:absolute; width:400px; left:200px; top:170px; }
#escolar{position:absolute; left:400px;top: 300px; }
#vivienda{ position:absolute; left: 600px; top: 170px;}
#ninoPadrinazgo{position:absolute; left: 870px; top:80px; }
