<div id="wrapper">
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Gestion de Educadores</a></h2>
				<div class="entry">
					<p>Seleccione en el menu lateral la operacion que desea realizar.</p>
					<p class="clearfix">&nbsp;</p>
				</div>
			</div>
		
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			<li>
					<h2>Operaciones</h2>
					<ul>
						<li><a href="/educaform">Ingresar un Educador</a></li>
					</ul>
				</li>
			</ul>	
				
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

